.subHeader {
  width: 100%;
  max-width: 83.333%;
  margin: 72px auto 0;
  display: flex;
  justify-content: flex-end;
}

.languages {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.languageLink {
  color: var(--text-tertiary);

  &:not(:first-of-type) {
    padding-left: 10px;
    border-left: 1px solid var(--text-primary);
    margin-left: 10px;
  }
}

.languageLinkActive {
  color: var(--text-link);
  font-weight: 500;
}

@media (min-width: 768px) {
  .subHeader {
    max-width: 100%;
    margin: 72px 0 0;
    padding-right: 48px;
  }
}
