@import './fonts';
@import './markdown';

html,
body {
  padding: 0;
  margin: 0;
  font-family: iA Quattro, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: color 0.2s linear, background-color 0.2s linear;
}

a {
  color: var(--text-link);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s linear;

  &:focus,
  &:active,
  &:hover {
    outline: 0;
  }
}

p {
  color: var(--text-primary);
  font-size: 16px;
  line-height: 1.6;
  margin-block-end: 20px;
  margin-bottom: 0;
  margin-top: 25px;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  transition: color 0.2s linear;

  img {
    display: block;
    max-width: 100%;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 15px;
  }
}

ol {
  margin-block-start: 1.2em;
  margin-block-end: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
