.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  width: 100%;
  text-align: center;
}

.postsTitle {
  margin-bottom: 1.2em;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.postLink {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.postMetadata {
  display: flex;
  align-items: center;
}

.postReadingTime {
  display: flex;
  align-items: center;

  &:before {
    content: '·';
    color: var(--text-secondary);
    font-size: 12px;
    margin: 0 7px;
  }
}

.postDate,
.postReadingTimeText {
  color: var(--text-secondary);
  font-size: 12px;
}

.postReadingTimeIcon {
  color: var(--text-primary);
  font-size: 11px;
  margin-right: 7px;
}
