.socialMedia {
  display: flex;
  align-items: center;
}

.socialMediaLink {
  color: var(--text-primary);
  width: 20px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover {
    .socialMediaIcon {
      transform: scale(1.1);
    }
  }
}

.twitterSocialMediaLink {
  color: var(--social-twitter);
}

.lastfmSocialMediaLink {
  color: var(--social-lastfm);
}
.socialMediaIcon {
  font-size: 18px;
  transition: transform 0.2s ease;
}
