html,
body {
  padding: 0;
  margin: 0;
  font-family: iA Quattro, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: all 0.2s linear;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}